<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form style="margin-left: 25%; margin-top: 10px;">
        <label for="prisoner_first_name">Prisoner First Name</label><br>
        <input type="text" id="prisoner_first_name" placeholder="First Name"><br>
        <label for="prisoner_last_name">Prisoner Last Name</label><br>
        <input type="text" id="prisoner_last_name"><br><br><br>

        <label for="pnr_number">PNR Number</label><br>
        <input type="text" id="pnr_number"><br><br><br>

        <label for="unit">Unit</label><br>
        <input type="text" id="unit"><br>
        <label for="prison">Prison</label><br>
        <input type="text" id="prison"><br><br><br>

        <label for="hearing_week">Hearing Week</label><br>
        <input type="text" id="hearing_week"><br>
        <label for="hearing_date">Hearing Date</label><br>
        <input type="date" id="hearing_date"><br><br><br>

        <label for="hearing_manager_name">Hearing Manager Name</label><br>
        <input type="text" id="hearing_manager_name"><br>

    </form>
</body>
</html>